@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.closeModal {
    cursor: pointer;
    position: absolute;
    left: 90%;
    margin-top: 30px;
    border-radius: 50%;
    padding: 5px;
    border: none;
    outline: none;
    transition: all 0.1s ease-in;
}

@media only screen and (min-width: 768px)and (max-width: 1200px) {
    .closeModal {
        left: 65rem;
        margin-top: 40px;
    }
}

.closeModal:hover {
    background-color: #EBA200;
}

.form-container {
    width: 100%;
    /* height: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F5F6FA;
    align-items: center;
}

.form-container .modalEditButton,
.form-container .modalDeleteButton {
    border: none;
    outline: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease-in;
}

.form-container .modalEditButton:hover::after {
    content: 'Edit details';
    position: absolute;
    margin-top: 40px;
    z-index: 1;
    font-size: 10px;
    background: #b4b4b4;
    padding: 5px;
    border-radius: 5px;

}

.form-container .modalDeleteButton:hover::after {
    content: 'Delete details';
    position: absolute;
    margin-top: 40px;
    z-index: 1;
    font-size: 10px;
    background: #b4b4b4;
    padding: 5px;
    border-radius: 5px;

}

.form-container .modalEditButton:hover {
    background: #b7b7b7
}

.form-container .form {

    background: #fff;
    width: 70%;
    height: 50%;
}

.form-container .underline {
    width: 52rem;
    background: rgb(216, 216, 216);
    height: 3px;
}

div p {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    align-self: flex-start;
    margin: 10px;
    background: transparent;
}

.form-container .form form {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    overflow: scroll;
}

.form-container .form .label {
    /* margin-top: 20px; */
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-container .form span {
    background-color: rgba(219, 107, 107, 0.5);
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    width: 30%;
    align-self: center;
}

.form-container .form form .form-input {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-container .form form .form-input:last-child {
    margin-bottom: 50px;
}

.form-container .form form .input,
.form-container .form form .option {
    border: none;
    border: 1.5px solid rgb(230, 230, 230);
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-inline: 5px;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
    width: 100%;


    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.form-container .form form .input:hover,
.form-container .form form .option:hover {
    border: 1px solid #EBA200
}

.form-container .form form .input:focus,
.form-container .form form .option:focus {
    box-shadow: 0 4px 8px 0 rgba(235, 162, 0, 0.7);
}

.form-container .btnContainer {
    width: 100%;
    height: 20px;
    z-index: 0;
    display: flex;
    justify-content: center;

}

.form-container form .submitBtn {
    background: #000;
    padding: 1em 2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    z-index: 0;
    position: relative;

    /* margin:350px 60px 0 0; */

}

.form-container form .submitBtn:hover {
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.form-container form .disabled {
    background: #7e7e7e;
    padding: 1em 2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 0;
    position: relative;
}

.form-container .submitBtn::after {
    content: '';
    background: linear-gradient(to right, #ffee00, #ffb300);
    height: 100%;
    width: 0;
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.form-container .submitBtn:hover::after {
    width: 100%;
}

.form-container .submitBtn:hover {
    color: #000;
}

.form-container .submitBtn:hover {
    background: #565656;
}

.form-container .state-color {}



.custom-select {
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: 0px 2px 8px 8px #e4e3e3;
    margin-bottom: 15px;
    position: relative;
    transition: opacity 0.5s linear;
}

.custom-select .selected-item #assign-btn,
.custom-select .selected-item #change-btn {
    background: #040b2e;
    border: none;
    color: #fff;
    padding: 2px 5px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transform: scale(0.7);
    transition: all 0.2s linear;
    width: 5rem;
    border-radius: 5px;
}

.custom-select .selected-item #change-btn {
    background: transparent;
    color: #000;
    font-family: "Roboto", sans-serif;
    transform: scale(1);
    font-weight: 600;
    color:#040b2e;
}

.custom-select .selected-item #assign-btn:hover {
    transform: scale(1);

}

.custom-select .selected-item {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-self: center;
}

.expand_drop_down {
    height: 20rem;
    opacity: 1;
}



.custom-select .dropdown-item {
    transition: all 0.1s linear;
    cursor: pointer;
}

.custom-select .dropdown-item:hover {
    background: #d1d2d3;

}

.custom-select .dropdown-item span {
    background: #040b2e;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.add_select_repairer_div {
    background: #b6b6b6;
}

.custom-select .success{
    font-size: 0.9em;
    font-family: "Roboto", sans-serif;
    background: #fff;
    padding: 10px;
    border-left: 5px solid green;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0px 2px 3px 3px #e4e3e3;

}